Flows1.json
[{"id":"d3d9f28b.97ba6","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"950a443c.a91e88","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"6d6fddd8.283974","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"bc730b71.521868","type":"rpi-gpio in","z":"d3d9f28b.97ba6","name":"Button","pin":"7","intype":"down","debounce":"25","read":true,"x":70,"y":240,"wires":[["41e6fcd5.a2c4e4","dc0aac59.db1aa"]]},{"id":"41e6fcd5.a2c4e4","type":"switch","z":"d3d9f28b.97ba6","name":"If inputs is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":260,"wires":[["e1764299.4c123"],["915506a9.3f6438"]]},{"id":"e1764299.4c123","type":"change","z":"d3d9f28b.97ba6","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["9fda4c7d.f8b31"]]},{"id":"9fda4c7d.f8b31","type":"rpi-gpio out","z":"d3d9f28b.97ba6","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":650,"y":260,"wires":[]},{"id":"dc0aac59.db1aa","type":"debug","z":"d3d9f28b.97ba6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":160,"wires":[]},{"id":"915506a9.3f6438","type":"change","z":"d3d9f28b.97ba6","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":300,"wires":[["9fda4c7d.f8b31"]]},{"id":"ad1b78a4.cf3fe8","type":"inject","z":"950a443c.a91e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":160,"wires":[["8aa15e9b.f9957"]]},{"id":"8aa15e9b.f9957","type":"function","z":"950a443c.a91e88","name":"","func":"msg.headers={\n    deviceKey: \"5x3Fs1FwURY8s4Lk\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["8e4d6e1e.e4d1c"]]},{"id":"a729bac.05b8348","type":"http response","z":"950a443c.a91e88","name":"","statusCode":"","headers":{},"x":760,"y":200,"wires":[]},{"id":"7c7e08f6.f0d4c8","type":"debug","z":"950a443c.a91e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":280,"wires":[]},{"id":"8e4d6e1e.e4d1c","type":"http request","z":"950a443c.a91e88","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D6HECHsV/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":180,"wires":[["a729bac.05b8348","7c7e08f6.f0d4c8"]]},{"id":"ff8fca2b.556ee8","type":"inject","z":"6d6fddd8.283974","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":140,"wires":[["683698d0.0fc3f8"]]},{"id":"683698d0.0fc3f8","type":"function","z":"6d6fddd8.283974","name":"","func":"msg.headers={\n    deviceKey: \"5x3Fs1FwURY8s4Lk\"\n    };\n    \nmsg.payload= \"Temperature,,25.3\";  \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["22870167.ad48ae"]]},{"id":"22870167.ad48ae","type":"http request","z":"6d6fddd8.283974","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D6HECHsV/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":180,"wires":[["7f867325.b4da5c","e84d1690.af9628"]]},{"id":"7f867325.b4da5c","type":"http response","z":"6d6fddd8.283974","name":"","statusCode":"","headers":{},"x":820,"y":180,"wires":[]},{"id":"e84d1690.af9628","type":"debug","z":"6d6fddd8.283974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":260,"wires":[]}]