flow 1
[{"id":"d3d9f28b.97ba6","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"bc730b71.521868","type":"rpi-gpio in","z":"d3d9f28b.97ba6","name":"Button","pin":"7","intype":"down","debounce":"25","read":true,"x":70,"y":240,"wires":[["41e6fcd5.a2c4e4","dc0aac59.db1aa"]]},{"id":"41e6fcd5.a2c4e4","type":"switch","z":"d3d9f28b.97ba6","name":"If inputs is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":260,"wires":[["e1764299.4c123"],["915506a9.3f6438"]]},{"id":"e1764299.4c123","type":"change","z":"d3d9f28b.97ba6","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["9fda4c7d.f8b31"]]},{"id":"9fda4c7d.f8b31","type":"rpi-gpio out","z":"d3d9f28b.97ba6","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":650,"y":260,"wires":[]},{"id":"dc0aac59.db1aa","type":"debug","z":"d3d9f28b.97ba6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":160,"wires":[]},{"id":"915506a9.3f6438","type":"change","z":"d3d9f28b.97ba6","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":300,"wires":[["9fda4c7d.f8b31"]]}]
