flow123/Flow2.json
[{"id":"950a443c.a91e88","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"ad1b78a4.cf3fe8","type":"inject","z":"950a443c.a91e88","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":160,"wires":[["8aa15e9b.f9957"]]},{"id":"8aa15e9b.f9957","type":"function","z":"950a443c.a91e88","name":"","func":"msg.headers={\n    deviceKey: \"5x3Fs1FwURY8s4Lk\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["8e4d6e1e.e4d1c"]]},{"id":"a729bac.05b8348","type":"http response","z":"950a443c.a91e88","name":"","statusCode":"","headers":{},"x":760,"y":200,"wires":[]},{"id":"7c7e08f6.f0d4c8","type":"debug","z":"950a443c.a91e88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":280,"wires":[]},{"id":"8e4d6e1e.e4d1c","type":"http request","z":"950a443c.a91e88","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D6HECHsV/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":180,"wires":[["a729bac.05b8348","7c7e08f6.f0d4c8"]]}]
