flow123/Flow3.json
[{"id":"6d6fddd8.283974","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"ff8fca2b.556ee8","type":"inject","z":"6d6fddd8.283974","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":140,"wires":[["683698d0.0fc3f8"]]},{"id":"683698d0.0fc3f8","type":"function","z":"6d6fddd8.283974","name":"","func":"msg.headers={\n    deviceKey: \"5x3Fs1FwURY8s4Lk\"\n    };\n    \nmsg.payload= \"Temperature,,25.3\";  \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["22870167.ad48ae"]]},{"id":"22870167.ad48ae","type":"http request","z":"6d6fddd8.283974","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D6HECHsV/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":180,"wires":[["7f867325.b4da5c","e84d1690.af9628"]]},{"id":"7f867325.b4da5c","type":"http response","z":"6d6fddd8.283974","name":"","statusCode":"","headers":{},"x":820,"y":180,"wires":[]},{"id":"e84d1690.af9628","type":"debug","z":"6d6fddd8.283974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":260,"wires":[]}]
